{
  "arrowParens": "avoid",
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "bracketSpacing": false,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "arrowParens": "always"
      }
    }
  ]
}
